.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 16px 8px 0;
  background: #343a40;
  height: 56px;
}
.header__name {
  font-size: 1.2rem;
}
.header__toggle,
.header__flag {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.header__first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding-left: 20px;
}
.header__second {
  display: flex;
  align-items: center;
}
.header__second > *:not(:last-child) {
  margin-right: 15px;
}
.header__safety {
  font-size: 11.2px;
  text-align: right;
}
.header__safety-title {
  font-size: 1.6rem;
  margin-bottom: 2px;
}
