* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  color: #fff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: contain;
}
.content {
  display: flex;
  position: relative;
  height: calc(100vh - 56px);
}
