<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mainboard.css">
    <title>Mainboard</title>
</head>


<!-- @model MTBRBus.MTLogin
@{
    ViewBag.Title = "MainBoard";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
} -->

<body>
    <section class="section-mainboard">
        <div class="section-mainboard__content">
            <div class="mainboard">
                <div class="row ">
                    <div class="col-1-of-3">

                    </div>
                    <div class="col-1-of-3">

                    </div>
                    <div class="col-1-of-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-7-of-10">

                    </div>
                    <div class="col-3-of-10">

                    </div>
                </div>
                <div class="row">
                    <div class="col-1-of-2">

                    </div>
                    <div class="col-1-of-2">

                    </div>
                </div>


            </div>
        </div>
    </section>

</body>

</html>